AI_ENVIRONMENT=development
AI_HOST=0.0.0.0
AI_PORT=8000
AI_LOG_LEVEL=INFO
AI_MODEL=gpt-5.6
AI_OPENAI_API_KEY=
AI_SELENIUM_REMOTE_URL=http://selenium:4444/wd/hub
AI_CONTROL_API_URL=http://control-api:8000
AI_INTERNAL_TOKEN=
AI_MAX_COMPUTER_STEPS=80
